body {
  background-color: rgb(54, 94, 50);
  min-height: 1000px;
}

/* colortheme link: https://colorhunt.co/palette/1235243e7b2785a947efe3c2 */

body * {
  color: #eeba2b;
}

.flagship-container > div {
  justify-content: center;
}

/* .flagship-container > div > div > img {
  max-height: 50vh;
  object-fit: cover;
} */

.carousel {
  height: 50vh;
}

.carousel-item {
  height: 300px;
  object-fit: cover;
}

a {
  color: black;
}
h2 {
  text-align: center;
}
