body {
  background-color: rgb(54, 94, 50);
}

/* colortheme link: https://colorhunt.co/palette/1235243e7b2785a947efe3c2 */

body * {
  color: #eeba2b;
}

.flagship-container > div {
  justify-content: center;
}

/* .flagship-container > div > div > img {
  max-height: 50vh;
  object-fit: cover;
} */

a {
  color: black;
}
h2 {
  text-align: center;
}

footer {
  border-top: 1px solid #eeba2b;
  position: body-end;
  bottom: 0;
  width: 100%;
}
